  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }

.ruNav {
  background-color: #CC0033;
}

#aboutModal {
  width: 100%;
  background-color: #CC0033;
}


