body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Pontano Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}

.ruNav {
  background-color: #CC0033;
}

#aboutModal {
  width: 100%;
  background-color: #CC0033;
}

#filter-types {
  display: flex;
}

.review-content {
  position: relative;
}

.deleteEdit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.brand-logo {
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-link {
  text-transform: lowercase;
}

.home-heading {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
  font-size: 72px;
}

.home-subheading {
  text-transform: lowercase;
  font-size: 36px;
  font-style: italic;
}

/*.deleteBtn {
  justify-content: space-around;
  align-content: center;
}*/
