<div class="container">
  <div class="row">
    <div class="col s2">
      <h4>Rutgers</h4>
    </div>
    <div class="input-field col s3">
      <select>
        <option value="1">Food</option>
        <option value="2">Dorms</option>
        <option value="3">Cafe</option>
        <option value="4">other</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col m3">
      <aside class="filters">
        <h5>Rutgers Ratings</h5>
        <div class="divider"></div>
        <form action="#">
          <p>
            <input type="checkbox" class="filled-in" id="1"/>
            <label for="1">1</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="2"/>
            <label for="2">2</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="3"/>
            <label for="3">3</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="4"/>
            <label for="4">4</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="5"/>
            <label for="5">5</label>
          </p>
        </form>
      </aside>
    </div>
    <div class="col m9">
      <div class="activity-content">
        <h4>Activities</h4>
        <div class="row">
          <div class="col m4">Name</div>
          <div class="col m3">Rating</div>
        </div>
        {{#each activities}}
        <div class="row">
          <div class="col m4 url" id="title"><a href="activities/{{name}}">{{ name }}</a></div>
          <div class="col m3">{{ rating }}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
</script>