


<div class="parallax-container">
  <div class="section center">
    <div class="container center">
      <h1 class="header center teal-text text-lighten-2">Ragat</h1>
      <div class="row center">
        <h3 class="header col s12 light">Discover new places at RU</h3>
      </div>
      <div class="row center">
        <a href="" id="place-button" class="btn-large waves-effect waves-light teal lighten-1">Add Place</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../static/images/jumbotron-placeholder-img.jpg"></div>
</div>

<div class="container">
  <div class="row">
    <div class="section center">
      <h3>What are you in the mood for?</h3>
    </div>
    <div class="section activity-block center">
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-cutlery fa-5x"></i></div>
        <p class="center-align">Food</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-bed fa-5x"></i></div>
        <p class="center-align">Dorms</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-coffee fa-5x"></i></div>
        <p class="center-align">Cafe</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-futbol-o fa-5x"></i></div>
        <p class="center-align">Sports</p>  
      </a>
    </div>
  </div>
</div>




