<div class="container">
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="title">
        {{#each activity}}
        <h4 id="title">{{ name }}</h4> 
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="reviews">
        <form method="POST">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="5" name="rating" />
          </p>
          <textarea id="textarea1" class="materialize-textarea" length="500" name="review"></textarea>
          <button type="submit" class="btn-floating btn-large waves-effect waves-light red">submit</button>
        </form>
        <ul>
          {{#each reviews}}
          <li class="review">
            <div class="review-content">
              <h5 class="username-review">USERNAME</h5>
              <p name="{{id}}">{{ review }}</p>
              <div class="deleteEdit">
                <i class="fa fa-pencil editBtn"></i>
                <a href=""><i class="material-icons deleteBtn" data-id="{{id}}">close</i></a>
              </div>
              
              <div class="divider"></div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>