<div class="container">
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="title">
        <h4>{{ name }}</h4>
      </div>
<!--       <div class="review-area">
        <form action="#">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="5" />
          </p>
        </form>
        <textarea id="textarea1" class="materialize-textarea" length="500"></textarea>
        <label for="textarea1">Add a review</label>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="reviews">
      <ul>
      {{#each Reviews}}
        <li>{{ review }}</li>
      {{/each}}
        <div>
          <form method="POST" action="/reviews/{{ id }}">
<!--           <p class="range-field">
            <input type="range" id="test5" min="0" max="5" />
          </p> -->
          <textarea id="textarea1" class="materialize-textarea" length="500" name="review"></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>